﻿/*
===============================================
BASE, Resets & Bug Preventions
===============================================
*/
/* Preventing IE10 Snapping mode "bug" */
@-ms-viewport { width: device-width; } /*this*/
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/* Assuring base font-size */
:root, html {
    font-size: 16px;
    font-family: "Palatino Linotype", "Times New Roman", serif;
}

/* Box sizing for all */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
             font-size: 1rem;
               padding: 0;
                margin: 0;
               z-index: 1;
}

/* Assuring fullsized body */
html, body {
    height: 99vh;
    width: 100%;    
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: #c72a47;
}

a:hover {
  text-decoration: underline;
  color: #7f574d;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
  background: #f5efe5;
  background: rgba(236, 206, 199, 0.7);
}

/* Mobile-first */

/* Headings */

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

h1 {
  font-size: 2rem
}

h2 {
 font-size: 1.8rem 
}

h3 {
 font-size: 1.6rem 
}

h4 {
 font-size: 1.4rem 
}

h5 {
 font-size: 1.2rem 
}

h6 {
 font-size: 1.1rem 
}

/* !! */

/* Totally hide something */
._total-hide{
  display: none !important;  
}


/*
===============================================
Website
===============================================
*/


/* ### Header ### */
.logo-title {
  border-bottom: 2px solid rgba(236, 206, 199, 1);
  margin-top: 8px;
}

.logo-title > a {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.logo-title img {
  width: 109px;
  height: 109px;
}

/* ###  Menus ### */
/* Hide the bullets from UL Menus */
.menu-setores, 
.menu-main, 
.menu-main-item > ul {
  list-style-type: none;
}

/* wherever has a ._has-sub-item class, add "»" symbol to its A tag (appending after the existing word) */
._has-sub-item > a:after {
  content: '  »';
}

  .menu-setores-item, 
  .menu-main-item {
    text-align: center;
    width: 99%;
    margin: 0 auto;
  }

  .menu-setores-item > a
  , .menu-main-item > a { 
    display: inline-block;
    margin: 4px 0 2px 0;
    padding: 10px;
    width: 99%;
    text-align: center;
    font-size: 1.2rem;
    background-color: #d6c7ad;
    background-color: rgba(214, 199, 173, 0.7);
    max-width: 480px;
    font-size: 18px;
  }   

    .menu-setores-item > a:active,
    .menu-main-item > a:active,
    .menu-setores-item > a:focus,
    .menu-main-item > a:focus,
    .menu-setores-item > a:hover,
    .menu-main-item > a:hover {
      background-color: #d6c7ad;
      color: #7f574d;
      border: 0;
      outline: 1px solid brown;
      text-decoration: underline;
    }

    .menu-setores-item > a:active,
    .menu-main-item > a:active {
      outline: 2px solid brown;
    }

  .menu-main-item > ul ,
  .menu-setores-item > ul {
    text-align: right;
    width: 100%;
    margin: 0 auto;
    /* display : none  ## Deprecated due to acessibility - now it happens via jQuery */
  }

 .menu-subitem {
  width: 90%;
  display: inline-block;
}

.menu-subitem a {
  background-color: #d6c7ad;
  border-right: 4px solid brown;
}

/* ###  Image-slider stuff ### */

.jumbo-container > div {
  text-align: center;
}

.jumbotron-features, 
.new-jumbo {
  width: 100%;
}

.servicos-item {
  width: 100%;
  display: table;
  text-align: center;
}

.servicos-item img, 
.new-jumbo img {
  /* 493x258 */
  width: 100%;
  height: auto;
}

/* ###  Footer ### */

.rights {
  background-color: rgba(214, 150, 158, 0.7);
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
}

.rights p {
  min-height: 40px;
  padding: 10px;
  vertical-align: middle;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;  
  font-size: 1rem;
}


/* ###  Media Queries ### */

/* to show sub-itens from main menu */
@media (max-width: 1024px) {
    .show-subitem {
      display: block !important;
    }

    .menu-setores-item:first-child { 
      margin-top: 0px;
    }
}

@media (min-width: 493px) {
  .servicos-item img {
    width: 493px;
    height: 258px;
  }
  .new-jumbo img {
    width: 493px;
    height: 258px;
  }
}

@media (min-width: 1024px) {
    .menu-setores {
      text-align: center;
    }

    .menu-setores-item {
      width: 200px;
      display: inline-block;
      margin: 1;
      border: 1;
      padding: 1;
    }

    .menu-setores-item .menu-subitem {
      display: table;
      width: 90%;
      float: right;
    }

    .show-subitem {
      display: table !important;
      text-align: right;
    }

    .jumbo-container{
        display: inline-block;
        width: 50%;
        max-width: 1024px;
        position: absolute;
        left: 340px;
        top: 50px;
    }

    .menu-setores-item:first-child { 
      margin-top: 0;
    }

    .main-container {
      margin: 0 auto;
      margin-bottom: 10px;
      max-width: 1536px;
      width: 99%;
      position: relative;
    }

    #main_menu {
      display: inline-block;
      width: 300px;
      margin-top: 10px;
      text-align: right;
    }

    .menu-main {
      width: 95%;
      display: inline-block;
      border-right: 4px solid #d6c7ad;
    }

    .menu-main-item:first-child > a { 
      margin: 0 !important;
    }
    
}






